{% extends "base.html" %}
{% block title %}归档{% endblock %}
{% block main %}

{# Archive timeline grouped by year. anycms exposes `archive.years` =
   [{ year, pages[] }] built from all published pages (see render_archive). #}
<div class="mt-8 lg:mt-12 px-4">
  <div class="mx-auto prose dark:prose-invert">
    <h1 class="text-3xl">归档</h1>
  </div>

  <div class="max-w-[65ch] mx-auto mt-8 lg:mt-12">
    <ul class="timeline timeline-vertical">
      {% for group in archive.years %}
      <li class="[--timeline-col-start:64px]">
        <hr class="dark:bg-base-content" />
        <div class="timeline-start !justify-self-start">
          <div class="text-lg font-semibold">{{ group.year }}</div>
        </div>
        <div class="timeline-middle flex items-center mx-8 my-2">
          <ion-icon name="time"></ion-icon>
        </div>
        <div class="timeline-end timeline-box dark:border-base-content/60 prose dark:prose-invert my-8">
          <ul>
            {% for p in group.pages %}
            <li>
              <a href="{{ p.url | safe }}">{{ p.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <hr class="dark:bg-base-content" />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
